.section3{
   overflow: hidden;
     background-color: #212529;
}
.bas{
    padding-top: 6%;
    padding-bottom: 7%;
    color: white;
    text-align: center;
}
.button1{
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #000;
    background-color: #f8f9fa;
}
